In [ ]:
!pip install xlrd==1.2.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlrd==1.2.0
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 103.3/103.3 KB 2.5 MB/s eta 0:00:00
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 2.0.1
    Uninstalling xlrd-2.0.1:
      Successfully uninstalled xlrd-2.0.1
Successfully installed xlrd-1.2.0

In [ ]:
# Hypothesis testing
import pandas as pd
from scipy import stats
import numpy as np
import matplotlib.pyplot as plt 
from statsmodels.stats.proportion import proportions_ztest # used in proportion test
from statsmodels.stats.multicomp import pairwise_tukeyhsd # used in posthoc ANOVA
import  statsmodels.formula.api as smf
import math

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Problem Statement:

A physician is evaluating a new diet for her patients with a family history of heart disease. To test the effectiveness of this diet, 16 patients are placed on the diet for 6 months. Their weights and triglyceride levels are measured before and after the study, and the physician wants to know if either set of measurements has changed. Use the data file DietStudy excel. Determine whether there is significant difference between the pre- and post-diet weights and triglyceride levels of these patients

In [ ]:
diet=pd.read_excel("/content/drive/MyDrive/Paired T test & Decision Tree/DietStudy.xlsx")
diet.head()

,Patient ID,Age in years,Gender,Triglyceride,1st interim triglyceride,2nd interim triglyceride,3rd interim triglyceride,Final triglyceride,Weight,1st interim weight,2nd interim weight,3rd interim weight,Final weight
0,1,45,0,180,148,106,113,100,198,196,193,188,192
1,2,56,0,139,94,119,75,92,237,233,232,228,225
2,3,50,0,152,185,86,149,118,233,231,229,228,226
3,4,46,1,112,145,136,149,82,179,181,177,174,172
4,5,64,0,156,104,157,79,97,219,217,215,213,214

**Paired T test**

Ho: avg_triglyceride = avg_finaltriglyceride </n>

Ha: avg_triglyceride != avg_finaltriglyceride

In [ ]:
triglyceride_data=diet[['Triglyceride','Final triglyceride']]
triglyceride_data.columns=['Triglyceride',	'Finaltriglyceride']

In [ ]:
stats.shapiro(triglyceride_data.Triglyceride)

ShapiroResult(statistic=0.933489203453064, pvalue=0.27672305703163147)

In [ ]:
stats.shapiro(triglyceride_data.Finaltriglyceride)

ShapiroResult(statistic=0.9408126473426819, pvalue=0.35908737778663635)

In [ ]:
stats.ttest_rel(triglyceride_data.Triglyceride,triglyceride_data.Finaltriglyceride) # paired t test

TtestResult(statistic=1.2000008533342437, pvalue=0.24874946576903698, df=15)

Inference: 

Shapiro p value is high means follows normal distribution.

 p value high means HO true. Thus there is no significance difference between before and after diet for triglyceride.

<b> One sample T test </b>

Ho: avg_finaltriglyceride - avg_triglyceride = 0 </n>
 
Ha: avg_finaltriglyceride - avg_triglyceride != 0

In [ ]:
triglyceride_data=diet[['Triglyceride','Final triglyceride']]
triglyceride_data['diff_tri']=diet['Final triglyceride']-diet['Triglyceride']
triglyceride_data.columns=['Triglyceride',	'Finaltriglyceride',	'diff_tri']
triglyceride_data

<ipython-input-14-497057bee0fb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  triglyceride_data['diff_tri']=diet['Final triglyceride']-diet['Triglyceride']

    Triglyceride  Finaltriglyceride  diff_tri
0            180                100       -80
1            139                 92       -47
2            152                118       -34
3            112                 82       -30
4            156                 97       -59
5            167                171         4
6            138                132        -6
7            160                123       -37
8            107                174        67
9            156                 92       -64
10            94                121        27
11           107                150        43
12           145                159        14
13           186                101       -85
14           112                148        36
15           104                130        26

In [ ]:
triglyceride_data.diff_tri

0    -80
1    -47
2    -34
3    -30
4    -59
5      4
6     -6
7    -37
8     67
9    -64
10    27
11    43
12    14
13   -85
14    36
15    26
Name: diff_tri, dtype: int64

In [ ]:
stats.shapiro(triglyceride_data.diff_tri)

ShapiroResult(statistic=0.9572919011116028, pvalue=0.6130363345146179)

In [ ]:
stats.ttest_1samp(triglyceride_data.diff_tri,0, nan_policy='omit')# One-sample t-test

TtestResult(statistic=-1.2000008533342437, pvalue=0.24874946576903698, df=15)

Inference: 

Shapiro p value high means follows normal distribution.


p-value high means HO true. Thus there is no significance difference between before and after diet for triglyceride.